@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
html {
  padding: 0;
  margin: 0;
}
body {
  padding: 0;
  margin: 0;
  color: var(--foreground);
  background: linear-gradient(45deg, #bf98eb, #a7f1e6, #d1bbe8);

  font-family: Arial, Helvetica, sans-serif;
  .header {
    background: white;
    .header-text {
      height: 50px;
      font-size: 30px;
      font-weight: 600;
      background-image: linear-gradient(#9352dd, #1de4c6);
      color: transparent;
      background-clip: text;
    }
  }
}

.multicolortext {
  background-image: linear-gradient(#9352dd, #1de4c6);
  color: transparent;
  background-clip: text;
}

* {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--scrollbar-track-bg);
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: var(--scrollbar-thumb-bg);
  background: rgba(184, 203, 209, 0.7);
}

/* set the scroll bar width and color for IE */
